@charset "utf-8";

.about {
  width: 100%;
  writing-mode: vertical-rl;
  margin-bottom: 400px;
  padding-right: 175px;
  

  .about__title {
    font-size: 3.5rem;
    position: relative;
    margin-left: 70px;

    @include desktop{
      font-size: 4.5rem;
    }
  }

  .about__title-en {
    position: absolute;
    top: 6px;
    right: -10px;
    font-size: 14px;
  }

  .about__photo {
    margin-left: 60px;
    width: 25%;
    position: relative;
    display: block;
    overflow: hidden;

    .about__image {
      padding-top: 100px;
      width: 100%;
      position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    width: 100%;
      display: block;
	    -webkit-transition: .4s ease-in-out;
	    transition: .4s ease-in-out;
    }
    .about__image:hover:nth-child(2){
      transform: translate(-50%, -50%) scale(1.15) !important;
      opacity: 0;
    }
  }

  .about__text {
    padding-top: 100px;
    margin-left: 60px;
    line-height: 3;
    height: 600px;

    @include desktop{
      font-size: 24px;
      height: 800px;
      line-height: 4;
    }
  }

  .about__sns-list {
    writing-mode: horizontal-tb;
    padding-top: 350px;

    .about__sns-item {
      margin-bottom: 60px;
      .about__sns-link {
        color: #fff;
      }
    }

    .about__sns-item:last-child {
      margin-bottom: 0;
    }

    .fab {
      font-size: 2.5em;
      @include desktop{
        font-size: 5.5rem
      }
    }
  }
}
