@charset "utf-8";

.contact {
  width: 100%;
  margin-bottom: 400px;
  text-align: center;



  .contact__title {
    width: 35%;
    margin: 0 auto;
    font-size: 3.5rem;
    position: relative;
    margin-bottom: 60px;

    @include desktop{
      font-size: 4.5rem;
    }

    .contact__title-en {
      position: absolute;
      top: -13%;
      right: 43%;
      font-size: 14px;
    }
  }

  .contact__form {
    width: 70%;
    margin: 0 auto;

    .contact__form-name {
      width: 100%;

      .contact__form-name-title {
        text-align: left;
        font-size: 1.8rem;

        @include desktop{
          font-size: 2.4rem;
        }
      }
    }

    .contact__form-mail {
      width: 100%;

      .contact__form-mail-title {
        text-align: left;
        font-size: 1.8rem;
        
        @include desktop{
          font-size: 2.4rem;
        }
      }
    }
    
    .contact__form-contact {
      width: 100%;
      
      .contact__form-contact-title {
        text-align: left;
        font-size: 1.8rem;

        @include desktop{
          font-size: 2.4rem;
        }
      }
    }
  }

  .contact__form-name-input {
    border: 1px solid #fff;
    padding: 5px 230px;
    margin-bottom: 50px;
    width: 100%;


    @include desktop{
      padding: 25px 230px;
    }
  }
  
  .contact__form-mail-input {
    border: 1px solid #fff;
    padding: 5px 230px;
    margin-bottom: 50px;
    width: 100%;
    
    @include desktop{
      padding: 25px 230px;
    }
  }
  
  .contact__form-textarea-input {
    border: 1px solid #fff;
    padding: 70px 225px;
    margin-bottom: 50px;
    width: 100%;
    
    @include desktop{
      padding: 140px 225px;
    }
  }
  
  .contact__submit-btn {
    border: 1px solid #fff;
    background: none;
    color: #fff;
    padding: 10px 50px;
    font-size: 1.8rem;
    
    @include desktop{
      font-size: 24px;
    }
  }

  .contact__submit-btn:hover {
    background: #fff;
    color: #272729;
    padding: 10px 50px;
  }
}
