@charset "utf-8";

.footer {
  .footer__inner {
    width: 30%;
    margin: 0 auto 30px;
  }

  .footer__logo {
    width: 100%;
    margin: 0 auto;
  }

  .footer_logo-image {
    margin: 0 auto 60px;
    width: 20%;
  }

  .footer__nav {
    width: 40%;
    margin: 0 auto;

    .footer__nav-list {
      display: flex;
      writing-mode: vertical-rl;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 0 auto 30px;

      .footer__nav-item {
        margin-left: 15px;

        .footer_nav-link {
          letter-spacing: 8px;
          color: $clr-font02;

          @include desktop{
            font-size: 2.8rem;
          }
        }
      }
    }
  }

  .footer__copy {
    text-align: center;

    @include desktop{
      font-size: 20px;
    }
  }
}
