@charset "utf-8";

.footer {

    .footer__inner {
        width: 30%;
        margin: 0 auto 30px;
    }

    .footer_logo-image {
        margin: 0 auto 60px;
    }

    .footer__nav-list {
        writing-mode: vertical-rl;
        margin: 0 auto 30px;

    .footer__nav-item {
        margin-left: 15px;

        .footer_nav-link {
            letter-spacing: 8px;
            color:$clr-font02;
        }
    }

    }

}
