@charset "utf-8";

.products {
  width: 100%;
  writing-mode: vertical-rl;
  margin-bottom: 400px;
  padding-right: 175px;
  position: relative;

  @include tablet {
    writing-mode: initial;
  }

  .products__title {
    font-size: 3.5rem;
    position: relative;
    margin-left: 70px;

    @include desktop {
      font-size: 4.0rem;
    }

    @include tablet {
      font-size: 2.6rem;
      margin-left: 0;
      text-align: center;
      width: 100vw;

    }
  }

  .products__title-en {
    position: absolute;
    top: 6px;
    right: -10px;
    font-size: 14px;

    @include tablet {
      top: -30%;
      right: 47%;
    }
  }

  .products__photo-list {
    width: 75%;

    @include tablet {
      writing-mode: vertical-rl;
      width: 100vw;
    }

    .products__photo-item:nth-of-type(1) {
      padding-top: 50px;
      margin-left: 10px;
      width: 30%;

      @include tablet {
        margin-left: 0;
        margin-right: 3%;
      }

      .products__photo-image {
        width: 100%;
      }
    }

    .products__photo-item:nth-of-type(2) {
      padding-top: 100px;
      margin-left: 10px;
      width: 30%;

      @include tablet {
        margin-left: 0;
        margin-right: 3%;
      }

      .products__photo-image {
        width: 100%;
      }
    }

    .products__photo-item:nth-of-type(3) {
      padding-top: 150px;
      margin-left: 60px;
      width: 30%;

      @include tablet {
        margin-left: 0;
        margin-right: 3%;
      }

      .products__photo-image {
        width: 100%;
      }
    }
  }

  .products__link {
    color: #fff;
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    position: absolute;
    font-size: 1.8rem;
    bottom: 0;

    @include desktop {
      font-size: 2.0rem;
    }

    @include tablet {
      bottom: initial;
      top: 100%;
      left: 68%;
    }
  }
}
