@charset "utf-8";

.shop__container-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  .shop__container-item {
    width: 30%;
    margin: 0 0px 100px 0;

    .shop__img-gallery {
      width: 90%;

      .shop__img-gallery-image {
        width: 100%;
      }
    }

    .shop__img-choice {
      width: 50%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto 60px;

      .shop__img-choice-item {
        width: 40%;
        cursor: pointer;

        .shop__img-choice-image {
          width: 100%;
        }
      }
    }

    .shop__detail {
      width: 100%;
      text-align: center;

      .shop__detail-name {
        font-size: $fs-24;
        margin-bottom: 30px;
      }

      .shop__detail-price {
        font-size: $fs-18;
        margin-bottom: 30px;
      }

      .shop__detail-size {
        font-size: $fs-18;
        margin-bottom: 40px;
      }

      .shop__detail-cartbtn {
        padding: 16px 55px;
        background-color: transparent;
        border-color: $clr-font02;
        color: $clr-font02;
        cursor: pointer;
      }

      .shop__detail-cartbtn:hover {
        opacity: 0.4;
      }
    }
  }
}

.pagination {
  display: flex;
  width: 50%;
  margin: auto;

  li {
    text-align: center;
    margin: auto;
    font-size: $fs-18;

    a {
      color: #fff;
    }

    a:hover {
      opacity: 0.4;
    }
  }
}
